.footer-container {
  background-color: #fff;
  margin: 0px auto;
  padding: 50px 0px;
  text-align: center;
  width: 100%;
}

.footer-desc {
  padding: 10px 25px;
  color: #808080;
  margin: 5px auto;
  max-width: 300px;
}

.link-btn {
  transition: transform ease 300ms;

  &:hover {
    transform: translate(0, -10px);
  }
}

.btn-container {
  margin-top: 35px;
}
