// Map styles
.map-container {
  flex: 1;
  max-width: 1500px;
  height: 100vh;
}

.right-container {
  position: relative;
  padding: 25px 50px;
  max-width: 350px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin: 0px auto;

  .margin {
    margin: 0px 20px;
    width: 100%;
  }
  .history-container {
    background-color: $bg-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    max-width: 300px;
    margin: 25px 0px 50px;
    width: 100%;
    border-radius: 6px;
    padding: 0px 25px 20px;

    .history-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .clear-all {
        color: $link-color;
        cursor: pointer;
        padding-top: 30px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(0.9);
        }
      }
    }

    .history-section {
      width: 100%;
      text-align: left;
      padding: 20px 0px 10px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 20px;
      transition: box-shadow 0.2s ease, transform 0.2s ease;

      .delete-btn {
        transition: opacity 0.2s, transform 0.2s;
        opacity: 0;
        transform: scale(0.8);
        margin-bottom: 10px;
      }

      &:hover {
        box-shadow: 0 0 0 5px #eeeeee;
        transform: scale(0.98);
        .delete-btn {
          opacity: 1;
          transform: scale(1);
        }
      }
      .history-txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px !important;
        padding: 0px 15px !important;
      }

      .history-address {
        padding-right: 10px;
        margin-right: 20px;
        text-decoration: underline;

        &:hover {
          color: $link-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
// End Map styles
